---
import Button from "~/components/button/button.astro";
import ButtonLabel from "~/components/button/button-label.astro";
import ButtonKbd from "~/components/button/button-kbd.astro";
import ButtonShortcut from "~/components/button/button-shortcut.astro";
---

<div data-component="color-button-demo">
  <Button variant={2}>
    <ButtonLabel>Cancel</ButtonLabel>
    <ButtonShortcut>
      <ButtonKbd>Esc</ButtonKbd>
    </ButtonShortcut>
  </Button>
  <Button>
    <ButtonLabel>Create Pizza</ButtonLabel>
    <ButtonShortcut>
      <ButtonKbd>P</ButtonKbd>
    </ButtonShortcut>
  </Button>
</div>

<style>
  [data-component="color-button-demo"] {
    align-items: center;
    background: var(--c-c-accent-g2);
    border: var(--c-bw-1) solid var(--c-c-accent-g4);
    border-radius: var(--c-r-4);
    display: flex;
    flex-direction: row;
    gap: var(--c-s-3);
    justify-content: center;
    padding: var(--c-s-8);
  }
</style>
