---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"button"> {
  size?: "sm" | "md" | "lg";
  variant?: 1 | 2 | 3 | 4;
  width?: "full";
}

const { size, variant = 1, width, ...rest } = Astro.props;
---

<button
  data-component="button"
  data-size={size}
  data-variant={variant}
  data-width={width}
  {...rest}
>
  <slot />
</button>

<style>
  [data-component="button"] {
    [data-slot="label"] {
      font-weight: var(--c-fw-2);
      letter-spacing: -0.1px;
    }

    &[data-variant="1"] {
      background: var(--c-c-accent-9);
      border: var(--c-bw-1) solid black;
      box-shadow:
        0px 3px 0 -1px var(--c-c-accent-6),
        0px 3px 0 0px black;
      color: var(--c-c-accent-13);

      &:hover {
        background: var(--c-c-accent-10);
      }
    }

    &[data-variant="2"] {
      background: var(--c-c-accent-4);
      border: var(--c-bw-1) solid black;
      box-shadow:
        0px 3px 0 -1px var(--c-c-accent-8),
        0px 3px 0 0px black;
      color: var(--c-c-accent-13);

      &:hover {
        background: var(--c-c-accent-5);
      }
    }

    &:active {
      transform: scale(0.97);
    }
  }
</style>
