---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"span"> {}

const { ...rest } = Astro.props;
---

<span data-slot="pending" {...rest}>
  <slot />
</span>
