---
import ColorPalette from "~/components/colors/color-palette.astro";
import GoToWaypoint from "~/components/colors/go-to-waypoint.astro";

import "@fontsource/ibm-plex-mono";
import "cura-css";
import "cura-css/color";
---

<html
  lang="en"
  class="cura"
  data-color-scheme="dark"
  data-scale="90%"
  data-radius="lg"
  data-accent-color="amethyst"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Cura</title>
  </head>
  <body>
    <header></header>
    <main>
      <aside>
        <ColorPalette />
      </aside>
      <div data-component="demos" data-accent-color="emerald">
        <GoToWaypoint />
      </div>
    </main>
  </body>
</html>

<style>
  body {
    background: light-dark(white, black);
    display: grid;
    font-family: var(--c-ff-mono);
    grid-template-rows: calc(54px * var(--c-scale)) 1fr;
    height: 100vh;

    main {
      display: grid;
      grid-template-columns: auto 1fr;
      container: main / inline-size;
      gap: var(--c-s-4);
      padding: var(--c-s-4);

      [data-component="demos"] {
        align-items: flex-start;
        display: grid;
        grid-template-columns: 1fr;

        @container main (width > 1200px) {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
</style>
